In [1]:
#Tuples(Ordered, indexing, slicing, immutable, allows duplicates)

In [2]:
tup=(1,'Sanjana',3.14)
tup

(1, 'Sanjana', 3.14)

In [14]:
tup[1] #indexing

'Sanjana'

In [6]:
tup[1:3] #slicing

('Sanjana', 3.14)

In [7]:
tup=(1,'Sanjana',3.14,1,1) #duplicate values
tup

(1, 'Sanjana', 3.14, 1, 1)

In [8]:
tup[1]='Abc' #will give error since tuple is immutable

TypeError: ignored

In [9]:
#Set (does not allow duplicates, un ordered, no indexing & slicing, immutable)

In [11]:
st={1,1,'Sanjana','Bhatt',3.14,'India','Assam'}
st

{1, 3.14, 'Assam', 'Bhatt', 'India', 'Sanjana'}

In [13]:
st[1] #no indexing

TypeError: ignored

In [15]:
#dictionary {key:value}

In [16]:
dict_1 = {1:'Sanjana',
          2:'Assam',
          3:'India'}
dict_1

{1: 'Sanjana', 2: 'Assam', 3: 'India'}

In [17]:
type(dict_1)

dict

In [21]:
#there can ve multiple value but not multiple keys
dict_1 = {1:['Sanjana','Bhatt'],
          2:'Assam',
          3:'India'}
dict_1

{1: ['Sanjana', 'Bhatt'], 2: 'Assam', 3: 'India'}

In [22]:
dict_1.keys()

dict_keys([1, 2, 3])

In [23]:
dict_1.values()

dict_values([['Sanjana', 'Bhatt'], 'Assam', 'India'])

In [24]:
dict_1.items()

dict_items([(1, ['Sanjana', 'Bhatt']), (2, 'Assam'), (3, 'India')])

In [25]:
dict_1[3]

'India'

In [26]:
dict_1[1]

['Sanjana', 'Bhatt']

In [27]:
dict_1[1]='Tisha'

In [28]:
dict_1

{1: 'Tisha', 2: 'Assam', 3: 'India'}

In [29]:
type(dict_1[1])

str

In [30]:
del dict_1

In [31]:
#Conditions (statements)

In [32]:
a= 10
if a>9:
  print(a)

10

In [42]:
a=int(input('Enter the value of a:'))
if a>9:
  print('{} is the user input'.format(a))
else:
  print(a,'is smaller than 9')

Enter the value of a:15
15 is the user input

In [41]:
a=input("Enter name:")
b=input("Enter age:")
print(a,'is',b,'years old')
print('{} is {} years old'.format(a,b))
print(f'{a} is {b} years old')
print(a+' is '+b+' years old')

Enter name:Ram
Enter age:8
Ram is 8 years old
Ram is 8 years old
Ram is 8 years old
Ram is 8 years old

In [43]:
a=int(input('Enter any number :'))
if a>9:
  print(a,'is greater than 9')
elif a==9:
  print(a,'is equal to 9')
else:
  print(a,'is less than 9')

Enter any number :9
9 is equal to 9

In [44]:
#For loop and while loop

In [45]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [49]:
for i in range (0,10):
  if i==4:
    break
  print(i)

0
1
2
3